*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

header {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3.5rem 0;
}

img {
  height: 2rem;
  width: auto;
}

ul {
  list-style: none;
  display: flex;
  gap: 2rem;
}

a {
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 600;
  color: #283841;
  padding: 1rem 1.5rem;
  border-radius: 100vmax;
}

.active {
  background-color: #283841;
  color: #fff;
}

a:hover {
  background-color: #283841;
  color: #fff;
}

ul:hover a:not(:hover) {
  color: #283841;
  background-color: transparent;
}

input {
  display: none;
}

label {
  width: 4.5rem;
  height: 3rem;
  position: relative;
}

label div {
  height: 5px;
  width: 100%;
  background-color: #283841;
  border-radius: 100vmax;
  position: relative;
}

label div:nth-child(1) {
  top: 0;
  transition: top ease 0.3s, transform ease 0.3s 0.3s;

}

label div:nth-child(2) {
  transform: scale(1);
  top: 50%;
  transition: all ease 0.3s;
}

label div:nth-child(3) {
  top: 100%;
  transition: top ease 0.3s, transform ease 0.3s 0.3s;
}

label {
  cursor: pointer;
  display: none;
}

@media only screen and (max-width: 48em) {
  label {
    display: block;
  }

  header {
    position: relative;
  }

  nav {
    margin-top: 10rem;
    width: 100%;
    height: 0;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    transition: all ease 0.5s;
  }

  ul {
    padding-top: 1rem;
    flex-direction: column;
    gap: 4rem;
    align-items: center;
    justify-content: center;
  }

  input:checked + header nav {
    height: 100vh;
  }

  input:checked + header label div:nth-child(1) {
    top: 63%;
    transform: rotate(45deg);
  }

  input:not(:checked) + header label div:nth-child(1) {
    top: 0;
    transform: rotate(0deg);
  }

  input:checked + header label div:nth-child(2) {
    transform: scale(0);
  }

  input:checked + header label div:nth-child(3) {
    top: 30%;
    transform:rotate(-45deg);
  }
}
